.btn-primary {
    background-image: none;
    background-color: #24a8b4;
    border: 1px solid white;
    color: white;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:disabled {
    background-image: none;
    background-color: #24a8b4 !important;
    border-color: white;
    color: white;
}

.btn-primary:active {
    border: 1px solid #006c88 !important;
}


.btn-success {
    background-image: none;
    background-color: #006c88;
    border: 1px solid white;
    color: white;
}

.btn-success:active, .btn-success:hover, .btn-success:focus, .btn-success:disabled {
    background-image: none;
    background-color: #006c88 !important;
    border-color: white;
    color: white;
}

.btn-success:active {
    border: 1px solid #24a8b4 !important;
}

.btn-light {
    background-image: none;
    background-color: transparent;
}

.btn-light:active, .btn-light:hover, .btn-light:focus, .btn-light:disabled {
    background-image: none;
    background-color: lightgray !important;
}

.colored-link, .colored-link:hover, .colored-link:active, .colored-link:visited {
    color: #24a8b4 !important;
}