<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        * {
            font-family: Roboto, sans-serif;
        }

        .col {
            border: 1px solid transparent;
            padding: 5px;
        }

        .main-card {
            border: rgba(0, 0, 0, 0.3) 1px solid;
            border-radius: 5px;
        }

        .text {
            font-size: 12pt;
        }

        .bold-text {
            font-weight: bold;
        }

        .change_number_button {
            border: none;
            background: white;
            color: darkgrey;
            font-size: 1rem;
            font-weight: normal;
        }


        .change_number_button:hover {
            color: blue;
            transition: all 600ms ease;
        }
    </style>
    <title>Редактор анкет</title>

    <script>
        window.FORM = JSON.parse('{{ form_json | safe }}')
        console.log(window.FORM)
    </script>

</head>

<body>
{% raw %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<nav class="navbar bg-body-tertiary" style="padding: 15px;">
    <div class="container">
        <div class="title">
            <a href="#" class="navbar-brand">Редактор анкет</a>
        </div>
        <div class="d-flex"><a href="/editor" class="btn btn-secondary btn-sm">Назад</a></div>
    </div>
</nav>

<br>

<div id="main" class="container">
    <h6>{{ is_edit ? "Редактируем" : "Создаём" }} анкету с названием</h6>
    <p>{{ name ? name : "(Без названия)" }}</p>

    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <label class="col-md-4 col-form-label col-form-label-sm text">
                    Название
                </label>
                <div class="col-md-8">
                    <input type="text" id="name" class="form-control-sm form-control" v-model="name"
                           onfocus="this.select()">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div v-for="(question, i) in questions" class="col-12 col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <h6 class="bold-text">
                        Вопрос №{{ i + 1 }}
                        &nbsp;
                        <button class="change_number_button" @click="go_down(i)" v-if="i !== questions.length-1">
                            ⬇
                        </button>
                        <button class="change_number_button" @click="go_up(i)" v-if="i !== 0">
                            ⬆
                        </button>
                    </h6>

                    <div class="row my-2">
                        <label class="col-md-4 col-form-label col-form-label-sm text">
                            Текст
                        </label>
                        <div class="col-md-8">
                            <input type="text" v-model="question.text" class="form-control-sm form-control">
                        </div>
                    </div>

                    <div class="row my-2">
                        <label class="col-md-4 col-form-label col-form-label-sm text">
                            Категория
                        </label>
                        <div class="col-md-8">
                            <input type="text" v-model="question.category" class="form-control-sm form-control">
                        </div>
                    </div>

                    <div class="row my-2">
                        <label class="col-md-4 col-form-label col-form-label-sm text">
                            Обязательный вопрос?
                        </label>
                        <div class="col-md-8">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" :id="'required_question_setter_' + i"
                                       v-model="question.required">
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-4 col-form-label col-form-label-sm text">
                            Тип
                        </div>
                        <div class="col-md-8">
                            <select class="form-select form-select-sm" v-model="question.type">
                                <option value="string">Строка</option>
                                <option value="integer">Целое число</option>
                                <option value="float">Дробное число</option>
                                <option value="text">Текст</option>
                                <option value="date">Дата</option>
                                <option value="checkbox">Галочка</option>
                                <option value="radio">Выбор варианта</option>
                                <option value="select">Выпадающий список</option>
                            </select>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-4 col-form-label col-form-label-sm text">
                            Показывать если
                        </div>
                        <div class="col-md-8">
                            <select class="form-select form-select-sm" v-model="question.show_if">
                                <option :value="undefined">Всегда</option>
                                <option v-for="showif_question in questions" :value="showif_question.id"
                                        :key="showif_question.id">{{ showif_question.text }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-4 col-form-label col-form-label-sm text">
                            Описание
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control form-control-sm" rows="3" v-model="question.description"></textarea>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-4 col-form-label col-form-label-sm text">
                            Параметры (JSON)
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control form-control-sm" rows="3" v-model="question.str_params"></textarea>
                        </div>
                    </div>

                    <div v-if="question.type === 'checkbox'">
                        <!-- <hr> -->
                        <div class="row my-2">
                            <label class="col-md-4 col-form-label col-form-label-sm">
                                Значение, если галочка поставлена
                            </label>
                            <label class="col-md-8">
                                <input type="text" class="form-control form-control-sm" v-model="questions[i].checker.true">
                            </label>
                        </div>
                        <div class="row my-2">
                            <label class="col-md-4 col-form-label-sm">
                                Значение, если галочка не поставлена
                            </label>
                            <label class="col-md-8 col-form-label-sm">
                                <input type="text" class="form-control-sm form-control"
                                       v-model="questions[i].checker.false">
                            </label>
                        </div>
                    </div>

                    <div v-if="question.type === 'radio'" class="mb-3">
                        <!-- <hr> -->
                        <div class="row">
                            <h6 class="bold-text">Варианты:</h6>
                            <div class="col-md-6 col-form-label-sm" style="text-align: center;"
                                 v-if="questions[i].variants.length > 0">
                                Отображаемый текст
                            </div>
                            <div class="col-md-5 col-form-label-sm" style="text-align: center;"
                                 v-if="questions[i].variants.length > 0">
                                Значение
                            </div>
                            <div class="col-md-1 col-form-label-sm" v-if="questions[i].variants.length > 0">

                            </div>
                            <div v-else>
                                <h5 style="text-align: center;">
                                    Вариантов нет...
                                </h5>
                            </div>
                        </div>

                        <div v-for="(variant, j) in question.variants">
                            <div class="row">
                                <label class="col-md-6 col-form-label-sm">
                                    <input type="text" class="form-control form-control-sm" v-model="variant.text">
                                </label>
                                <label class="col-md-5 col-form-label-sm">
                                    <input type="text" class="form-control form-control-sm" v-model="variant.value">
                                </label>
                                <label class="col-md-1 col-form-label-sm">
                                    <input type="button" class="btn btn-sm btn-danger" value="Удалить"
                                           @click="deleteParam(i, j)">
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-sm my-2" @click="add_new_param_line(question)">Добавить
                            вариант
                        </button>
                    </div>

                    <hr>

                    <button type="button" class="btn btn-sm btn-danger" @click="deleteQuestion(i)">Удалить вопрос №{{
                            i + 1
                        }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-form-label col-form-label-sm text">
            <button class="btn btn-primary" @click="add_question()">Добавить вопрос</button>
        </div>
    </div>


    <div class="d-grid my-4">
        <button class="btn btn-primary btn-lg" @click="save()" type="submit">Сохранить анкету</button>
    </div>

    <div class="d-grid my-4">
        <div></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script>
    function create_UUID() {
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (dt + Math.random() * 16) % 16 | 0;
            dt = Math.floor(dt / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }


    const questionsApp = Vue.createApp({
        data() {
            return {
                questions: [],
                name: "Новая анкета",
                json: {},
                is_edit: false
            }
        },
        created() {
            if (window.FORM) {
                this.questions = window.FORM.fields;
                this.name = window.FORM.name;
            }

            if (this.questions.length > 0) {
                this.is_edit = true
                for (let i = 0; i < this.questions.length; i++) {
                    let tmp_params = Object.assign({}, this.questions[i].params)
                    if (tmp_params.options) delete tmp_params.options
                    this.questions[i].str_params = JSON.stringify(tmp_params)

                    this.questions[i].variants = [{"text": "", "value": ""}, {"text": "", "value": ""}]
                    this.questions[i].checker = {"true": "", "false": ""}

                    if (this.questions[i].type == 'radio') {
                        let iter = 0
                        for (j in this.questions[i].params.options) {
                            if (iter >= this.questions[i].variants.length) {
                                this.questions[i].variants.push({"text": "", "value": ""})
                            }
                            this.questions[i].variants[iter].text = j
                            this.questions[i].variants[iter].value = this.questions[i].params.options[j]
                            iter++
                        }
                    } else if (this.questions[i].type == 'checkbox') {
                        this.questions[i].checker.true = this.questions[i].params.options.true
                        this.questions[i].checker.false = this.questions[i].params.options.false
                    }

                    this.questions[i].params = {"options": {}}
                }
            } else {
                this.add_question()
            }
        },
        methods: {
            add_question() {
                this.questions.push({
                    "text": "",
                    "category": "",
                    "params": {"options": {}},
                    "required": false,
                    "type": "string",
                    "id": create_UUID(),
                    "description": "",
                    "variants": [
                        {
                            "text": "",
                            "value": ""
                        },
                        {
                            "text": "",
                            "value": ""
                        }
                    ],
                    "checker": {
                        "true": "",
                        "false": ""
                    },
                })
            },

            add_new_param_line(question) {
                question.variants.push({
                    "text": "",
                    "value": ""
                })
            },

            deleteParam(question_number, variant_number) {
                this.questions[question_number].variants.splice(variant_number, 1)
            },

            save() {
                let result_questions = []
                for (question_number in this.questions) {
                    if (this.questions[question_number].str_params) {
                        if (this.questions[question_number].params)
                            this.questions[question_number].params = Object.assign(this.questions[question_number].params, JSON.parse(this.questions[question_number].str_params))
                        else
                            this.questions[question_number].params = JSON.parse(this.questions[question_number].str_params)

                        delete this.questions[question_number].str_params
                    }
                    if (this.questions[question_number].type == 'radio') {
                        for (variant_number in this.questions[question_number].variants) {
                            variant = this.questions[question_number].variants[variant_number]
                            if (variant.value != "") {
                                this.questions[question_number].params.options[variant.text] = variant.value
                            }
                        }
                    } else if (this.questions[question_number].type == 'checkbox') {
                        this.questions[question_number].params.options = this.questions[question_number].checker
                    }
                    let temp_add = JSON.parse(JSON.stringify(this.questions[question_number]))
                    delete temp_add.variants
                    delete temp_add.checker
                    result_questions.push(temp_add)
                }

                this.json.fields = result_questions
                this.json.name = this.name
                this.json = JSON.stringify(this.json)


                fetch('', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: this.json
                }).then(res => res.json())
                    .then(function (res) {
                        if (res.state == "ok") {
                            alert('Анкета успешно сохранена как "' + res.name + '" (id: ' + res.id + ')')
                            window.location.href = "/editor"
                        } else {
                            alert("Ошибка при сохранении анкеты\n" + res.state)
                        }
                    });


            },

            deleteQuestion(question_number) {
                this.questions.splice(question_number, 1)
            },

            go_up(question_number) {
                if (question_number != 0) {
                    let temp = JSON.parse(JSON.stringify(this.questions[question_number - 1]))
                    this.questions[question_number - 1] = JSON.parse(JSON.stringify(this.questions[question_number]))
                    this.questions[question_number] = temp
                }
            },

            go_down(question_number) {
                if (question_number != this.questions.length - 1 && this.questions[question_number + 1] != undefined) {
                    let temp = JSON.parse(JSON.stringify(this.questions[question_number + 1]))
                    this.questions[question_number + 1] = JSON.parse(JSON.stringify(this.questions[question_number]))
                    this.questions[question_number] = temp
                }
            }
        }
    })
    questionsApp.mount('#main')


</script>
{% endraw %}
</body>

</html>