{% extends 'base_bootstrap.html' %}

{% block title %}Регистр пациентов{% endblock %}
{% block page_title %}Регистр пациентов{% endblock %}

{% block content %}
<h4 class="my-3">Восстановление пароля</h4>

<form method="post">
    {% if info %}
    <div class="alert alert-success my-3">
        {{ info }}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-warning my-3">
        {{ error }}
    </div>
    {% endif %}

    {% if critical_error %}
    <div class="alert alert-danger my-3">
        {{ critical_error }}
    </div>
    {% else %}

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email" value="{{ email }}">
    </div>

    <button class="btn btn-success">Получить ссылку на восстановление пароля</button>
    {% endif %}
</form>
{% endblock %}